.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
 .logo-container {
    margin: 20px 0; 
    width: 100%; 
    display: flex; 
    justify-content: center; 

    img {
      height: 150px; 
      width: auto; 
      max-width: 100%; 
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
  }
  
  div {
    display: flex;
    justify-content: center; 
  }
  