<!-- src/app/movie-card/movie-card.component.html -->
<div class="movies-grid">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <div class="image-container" (click)="goToMovieDetails(movie.title)">
      <img [src]="movie.imageurl" [alt]="movie.title" />
      <mat-icon
        class="favorite-icon"
        [ngClass]="{ 'favorite': isFavorite(movie._id) }"
        (click)="toggleFavorite(movie._id); $event.stopPropagation();">
        {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </div>
    <mat-card-actions (click)="goToMovieDetails(movie.title)">
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>
        Directed by:
        <span *ngFor="let director of movie.directors; let i = index">
          {{ director.name }}<span *ngIf="i < movie.directors.length - 1">, </span>
        </span>
      </mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
</div>

